.Loginbutton {
    -fx-background-image: url("crateAccountButton.png");  /* ใส่รูปภาพ */
    -fx-background-size: cover;                     /* ปรับขนาดรูปให้เต็มปุ่ม */
    -fx-background-repeat: no-repeat;               /* ไม่ให้รูปซ้ำ */
    -fx-background-position: center;                /* จัดให้อยู่ตรงกลาง */
    -fx-padding: 0;                                 /* ลบ Padding ออก */                               /* ลบขอบออก */
    -fx-text-fill: transparent;                     /* ซ่อนข้อความ */
    -fx-pref-width: 100px;                          /* กำหนดความกว้าง */
    -fx-pref-height: 50px;   
	-fx-background-radius: 10px; /* ทำให้ขอบมน */
	-fx-border-radius: 10px; /* ปรับขอบมนของขอบปุ่ม */                     /* กำหนดความสูง */
}



.ArrowBackButton{
	-fx-background-image: url("GoBack2.png");  /* ใส่รูปภาพ */
	    
	-fx-background-position: center;              
	-fx-background-radius: 50%;
	-fx-padding: 0;
	-fx-border-radius: 50%;
	-fx-border-color: transparent;
	
}

.BackgroundScenc{
	-fx-background-color: #f4f4f4;

}

/* กำหนดสไตล์พื้นฐานให้กับ TextField */
.text-field {
    -fx-background-color: #f4f4f4;  /* สีพื้นหลัง */
    -fx-border-color: #ccc;  /* สีขอบ */
    -fx-border-radius: 5px;  /* ทำให้ขอบโค้งมน */
    -fx-padding: 8px;  /* ระยะห่างภายใน */
    -fx-font-size: 14px; /* ขนาดตัวอักษร */
    -fx-font-family: "Arial";
}

/* เมื่อ TextField ถูกเลือก (โฟกัส) */
.text-field:focused {
    -fx-border-color: #4A90E2;  /* เปลี่ยนสีขอบเมื่อคลิก */
    -fx-background-color: #f4f4f4;
}
